<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/styles-sm.css">
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)">
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)">


</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="100%">
        <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de créditos</h3>
        <nav class="nav-principal">
            <ul>
                <li><a href="">Oferas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta <i class="far fa-user-circle"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-cart"></i></a></li>

            </ul>
        </nav>
        <div class="burger-menu menu" id="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main id="main-content">
        <section>
            <h2 class="titulo-principal">Basado en tu última visita</h2>
            <article>
                <img class="imagen-articulo" src="/img/img-cafetera-moulinex.jpg" alt="" width="100%">
                <div class="contenedor-info">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img class="imagen-articulo" src="/img/img-macbook-pro-2019.jpg" alt="" width="100%">
                <div class="contenedor-info">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img class="imagen-articulo" src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                <div class="contenedor-info">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img class="imagen-articulo" src="/img/img-tv-samsung-smart.jpg" alt="" width="100%">
                <div class="contenedor-info">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section>
                <h2>Ofertas</h2>
                <article>
                    <img class="imagen-articulo" src="/img/img-cafetera-moulinex.jpg" alt="" width="100%">
                    <div class="contenedor-info">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img class="imagen-articulo" src="/img/img-macbook-pro-2019.jpg" alt="" width="100%">
                    <div class="contenedor-info">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img class="imagen-articulo" src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                    <div class="contenedor-info">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img class="imagen-articulo" src="/img/img-tv-samsung-smart.jpg" alt="" width="100%">
                    <div class="contenedor-info">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
    </main>
    <footer class="align-center">
        <section>
            <i class="fas fa-credit-card azul icono-grande"></i>
            <h3>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift azul icono-grande"></i>
            <h3>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-shield-alt azul icono-grande"></i>
            <h3>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>    
    </footer>
    
</body>
</html>