<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
          background-color: <%= user.color %>
      }
    </style>
  </head>
  <body >
    <p>Gracias <%= user.name %> por visitarnos</p>
   
  </body>
</html>
