<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOGIN</h1>
    <p>Welcome to LOGIN</p>

   



    <form action="/users/login" method="POST">
      <div>
        <label for="email">Ingrese su email:</label>
        <input type="email" name="email">
        <% if(locals.errors && errors.email) { %>
          <div><%= errors.email.msg %></div>
        <% } %>

      </div>
      <div>
        <label for="password">Ingrese su contraseña:</label>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <label for="checkbox">Recordame</label>
        <input type="checkbox" name="checkbox">
      </div>

      <button type="submit">Login</button>

    </form>
  </body>
</html>
