* {
    box-sizing: border-box;
}

/* -------------------- Globales ------------------ */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

p {
    font-size: 12px
}

h2 {
    font-size: 24px;
    text-align: center

}

header {
    background-color: #EAC926;
    padding-bottom: 15px;
}

a {
    text-decoration: none
}

h3 {
    text-align: center

}

ul {
    list-style: none
}


article {
    margin: 10px 0 0 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    border-radius: 5px;

}

/* ----------------- Clases genéricas --------------------*/
.align-center {
    text-align: center
}

.icono-grande {
    font-size:2em;
    margin-bottom: 10px
}
.magin-0 {
    margin: 0;
}


/* ------------------- Colores ---------------------------*/

.azul {
    color:#1259c3;;
}
